@import "./variables.scss";
@import "./utils.scss";

@mixin string($gauge: 3px){
	@include centering(static, hor);
  display: block;
  background-color: $default-string-color;
  box-shadow: -1px 0 1px 0px $shadow-color;
  width: $gauge;
  height: $default-fret-height + $fretbar-height;
}

@mixin mark($diameter: 20px, $centering-dir: both, $bg: transparent){
	@include centering(absolute, $centering-dir);
	display: block;
	width: $diameter;
	height: $diameter;
	background-color: $bg;
	border-radius: 50%;
}

@mixin inlays($diameter){
	@include mark($diameter, ver, $inlays-color);
	right: -($diameter / 2);
}

@mixin fret-setting(){
	position: relative;
	display: block;
	height: $default-fret-height;
	width: $default-fret-width;
	background: transparent;
}

@mixin unstyle-list(){
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.fa-container {
	@include display-flex(inline-flex);
	@include flex-flow(column nowrap);
}

.fa-tuning {
	@include display-flex(inline-flex);
	@include flex-flow();
	border-radius: 10px 10px 0 0;
	border-bottom: $nut-height solid $nut-color;
	box-shadow: 0px 0px 10px 2px rgba($shadow-color, 0.5);
	background-color: $default-tuning-bg;
	color: $default-tuning-font-color;

	z-index: 0;
	div {
		position: relative;
		display: inline-block;
		height: $tuning-height;
		width: $tuning-width;
		span {
			@include centering(absolute, both);
			display: block;
		}
	}
}

.fa-fretboard {
	@include display-flex(inline-flex);
	@include flex-flow();
	box-shadow: 0px 0px 10px 2px rgba($shadow-color, 0.5);
  background: $default-fretboard-bg;
	z-index: 0;
}

.fa-string {
	@include unstyle-list();
	display: inline-block;
	background: transparent;

	li {
		@include fret-setting();
		border-bottom: $fretbar-height solid $fretbar-color;

		&:before, &:after {
			content: "";
		}
		&.inlays {
			&:after{
				@include inlays($inlay-width);
			}
		}

		&>div {
			@include string(3px);
			z-index: 1;
		}
	}
}

.fa-note {
	@include mark(30px, both, $default-note-bg-color);
  z-index: 3;
  box-shadow: 0 0 1px 0px $shadow-color;
	color: $default-note-font-color;

	&.hide {
		display: none;
	}

  span {
    @include centering(absolute, both);
    display: block;
  }
}
